
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Local-only configs
django_project/local_settings.py

# Cache Files
*__pycache__*
*/__pycache__/*
