// Colors of the app.

// For the reps.
$rep-red: #E9141D;
$rep-red-dark: #8A0F00;
$rep-red-light: #D27979;

// For the dems.
$dem-blue: #0333CC;
$dem-blue-dark: #013364;
$dem-blue-light: #438BCA;

$black: #151515;
$white: #F2F2F2;

// Misc.
$purple: #865CBD;
$dark-purple: #2A025E;
$dark-green: #035419;
$dark-yellow: #a6a229;
