@mixin paralax($imgpath) {
  color: $white;
  display: block;
  position: relative;
  text-align: center;
  &::after {
    content: "";
    background: url($imgpath);
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &::before {
    content: "";
    background: $black;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  .paralax-content-wrapper {
    padding: 0 em(40) em(40) em(40);
  }
  .divider {
    padding-top: em(20);
  }
}
