.sentiment-example-card {
  background-color: $white;
  color: $black;
  padding: em(15);
  border-radius: em(20);
  text-align: left;
  border: em(8) solid $dark-purple;
  position: relative;
  .more-card-content {
    position: relative;
    top: em(7);
    transition: opacity .5s, visibility .5s;
    &.hide {
      visibility: hidden;
      opacity: 0;
    }
  }
  .label {
    margin-top: 0;
    text-align: right;
    color: $dark-purple;
  }
  .examples {
    p.example {
      margin-top: 0;
      margin-bottom: em(35);
      transition: opacity 0.5s;
      overflow: hidden;
      opacity: 1;
      word-break: break-word;
    }
    p.example.hide {
      margin: 0;
      padding: 0;
      height: 0;
      opacity: 0;
    }
  }
  &::after{
    content: "\e902";
    color: $black;
    font-family: $icon-font;
    font-size: em(30);
    position: absolute;
    color: $dark-purple;
    display: inline-block;
    text-align: center;
    right: 13px;
    bottom: em(3);
    opacity: .4;
  }
  &.negative-example-card {
    border-color: $rep-red-dark;
    .label,
    .more-card-content,
    &::before,
    &::after {
      color: $rep-red-dark;
    }
  }
  &.positive-example-card {
    border-color: $dark-green;
    .label,
    .more-card-content,
    &::before,
    &::after {
      color: $dark-green;
    }
  }
  &.neutral-example-card {
    border-color: $dark-yellow;
    .label,
    .more-card-content,
    &::before,
    &::after {
      color: $dark-yellow;
    }
  }
}