<div data-purpose="example-card" class="tweet-container {{ sentiment }}-tweet">
  <p class="h3 label">{{ sentiment|title }}</p>
  <div class="tweets">
    {% for tweet in tweets %}
      {% if forloop.counter == 1 %}
        <p class="tweet show">{% autoescape off %}{{ tweet }}{% endautoescape %}</p>
      {% else %}
        <p class="tweet hide">{% autoescape off %}{{ tweet }}{% endautoescape %}</p>
      {% endif %}
    {% endfor %}
  </div>
  {% if tweets|length > 1 %}
    <button data-purpose="example-card-flipper" class="more-card-content icon-arrow-down"><span class="access-text">See More</span></button>
  {% endif %}
</div>
